@import '@styles/variables.module.scss';

#content {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 96px;
    max-width: 1680px;
}

.profile-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 28px;
    border-radius: 20px;

    .profile-avatar {
        cursor: pointer;
        width: 256px;
        height: 256px;
        border-radius: 50%;
        object-fit: cover;
        border: 8px solid #fff;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.005);
        }
    }

    &__content {
        background-color: rgba(255, 255, 255, 0.8);
        margin-left: 32px;
        border-radius: 20px;
        padding: 32px;
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__description {
        margin-top: 12px;
        color: #111;
        font-size: 16px;
        .show-more {
            text-decoration: underline;
            cursor: pointer;
            color: $primary-color;
            margin-left: 8px;
        }
    }

    &__footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.profile-name {
    font-weight: 500;
    font-size: 24px;
    color: $text-primary-color;
}

.profile-title {
    font-size: 12px;
    color: $text-secondary-color;
}

.profile-description {
    font-size: 16px;
    opacity: 0.8;
}

.follow-button {
    font-size: 16px;
    align-self: flex-start;
    font-weight: bold;

    &.followed {
        box-shadow: 0 0 0 2px $button-primary-color inset;
        background-color: transparent;
        color: $button-primary-color;
    }
}

.profile-stats {
    display: flex;
    gap: 48px;
    color: $text-secondary-color;
    font-size: 14px;

    .rating,
    .follower {
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
            color: $secondary-color;
        }
    }
}

.social {
    display: flex;
    gap: 12px;

    &__link {
        text-decoration: none;
        background-color: $button-primary-color;
        color: $text-primary-color;
        font-size: 14px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
            color: $secondary-color;
        }
    }
}

.profile-navigate {
    display: flex;
    gap: 16px;
    margin: 48px 0 32px;

    button {
        cursor: pointer;
        background-color: $button-inactive-color;
        font-weight: bold;
        color: $text-primary-color;
        transition: background-color 0.2s ease;

        &.active {
            background-color: $button-primary-color;
            color: #000;
        }
    }
}

#posts-container,
#documents-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 2rem;
    background-color: $third-color;
    padding: 56px 28px;
}

#profile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    .user-profile {
        min-width: 60%;
        max-width: 80%;
    }
}

.pagination {
    margin: 32px 0 48px;

    &__list {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
    }

    &__item button {
        border-radius: 0;
        height: 48px;
        min-width: 48px;
        border: none;
        transition: all 0.2s ease;
        padding: 0;
        &:hover:not(:disabled) {
            background-color: $button-primary-color;
        }

        &:disabled {
            cursor: auto;
            opacity: 0.4;
        }
        &:focus {
            outline: none;
        }
    }

    &__button {
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.2);
        color: #000;
        &.active {
            background-color: $button-primary-color !important;
        }
    }

    &__arrow {
        background-color: rgba($button-primary-color, 0.4) !important;
        color: $button-primary-color !important;
        font-size: 24px;
    }
}
