@import '@styles/variables.module.scss';

.search-container {
    user-select: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-top: 83px;
    padding: 48px;
    display: flex;
    align-items: center;
    background-color: #49bbbd;
    flex-direction: column;
    gap: 16px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; /* <-- Ensure it fills the container */
        background-image: url('@images/search-background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.6; /* <-- Background opacity */
        z-index: 0; /* <-- Send behind content */
    }

    .search,
    .search-filter {
        z-index: 5;
        display: flex;
        width: 60%;
        max-width: 1324px;
    }
    .search {
        gap: 4px;
        background-color: #fff;
        padding: 4px;
        border-radius: 8px;

        &-bar {
            flex: 1;
            background-color: transparent;
            border: none;
            color: $text-primary-color;
            caret-color: $secondary-color;
            padding: 0 16px;

            &:focus {
                outline: none;
            }
        }

        &-btn {
            border-radius: 4px;
        }
    }
    .search-filter {
        display: flex;
        gap: 16px;
        justify-content: left;
        flex-wrap: wrap;
    }
}

.filter {
    position: relative;
    button {
        border: none;
        background-color: #fff;

        &:focus {
            outline: none;
        }
    }

    .filter-btn {
        display: flex;
        gap: 12px;
        color: $text-primary-color;
        padding: 12px;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;

        .clear:hover {
            color: $secondary-color;
        }

        &.selected {
            background-color: $button-primary-color;
        }
    }

    .dropdown {
        margin-top: 4px;
        padding: 0;
        list-style-type: none;
        position: absolute;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1);
        z-index: 10;
        max-height: 50vh;
        min-width: 75px;
        max-width: 200px;
        overflow: auto;

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.05);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            border: 2px solid transparent; /* tạo khoảng cách giả */
            background-clip: content-box;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        .option {
            button {
                width: 100%;
                display: block;
                white-space: nowrap;
                text-align: left;
                padding: 12px 16px;
                border: none;
                background-color: transparent;
                color: $text-primary-color;
                font-size: 14px;
                border-radius: 0;
            }

            &:first-child {
                border-radius: 8px 8px 0 0;
            }

            &:last-child {
                border-radius: 0 0 8px 8px;
            }

            &:hover {
                background-color: rgba($button-primary-color, 0.9);
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.result-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 48px auto;
    .result {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, minmax(260px, 1fr));
        gap: 2rem;
        width: 80%;
        max-width: 1680px;
        padding: 0 28px;
        @media  screen and (max-width: 1420px) {
            width: 95%;
            padding: 0;
            gap: 1rem;
        }
        @media  screen and (max-width: 1150px) {
            gap: 1.5rem;
            grid-template-columns: repeat(2, minmax(260px, 1fr));
            .card {
                max-width: none;
            }
        }

    }
}

.highlight-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 48px auto;

    .highlight {
        box-sizing: border-box;
        width: 80%;
        max-width: 1680px;
        display: flex;
        gap: 8px;
        padding: 24px;
        justify-content: space-around;
        align-items: center;
        background-color: rgba($third-color, 0.2);
        border-radius: 16px;
        @media  screen and (max-width: 1420px) {
            width: 95%;
        }

        &-list {
            color: $text-primary-color;

            h2 {
                margin: 0;
            }
            ul {
                list-style-type: none;
                padding: 0;
                padding: 0;

                li {
                    line-height: 2.2;
                }
            }

            .start-btn {
                width: 100%;
                font-weight: bold;
            }
        }
    }
}

.recommend-container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 48px auto 0;
    padding: 2rem 0 4rem;
    background-color: rgba($secondary-color, 0.2);
    .recommend {
        box-sizing: border-box;
        width: 80%;
        max-width: 1680px;
        display: flex;
        flex-direction: column;
        
        @media  screen and (max-width: 1420px) {
            width: 95%;
        }
        @media  screen and (max-width: 1150px) {
            gap: 1.5rem;
            grid-template-columns: repeat(2, minmax(260px, 1fr));
            .card {
                max-width: none;
            }
        }
        .course-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            h2 {
                color: $text-primary-color;
            }

            a {
                color: $button-primary-color;
            }
        }

        .course-list {
            display: grid;
            grid-template-columns: repeat(4, minmax(260px, 1fr));
            gap: 2rem;
            @media  screen and (max-width: 1420px) {
                gap: 1rem;
            }
            @media  screen and (max-width: 1150px) {
                gap: 1.5rem;
                grid-template-columns: repeat(2, minmax(260px, 1fr));
                .card {
                    max-width: none;
                }
            }
        }
    }
}

.hidden {
    display: none;
}
