$primary-color: #a1e3f9;
$secondary-color: #3674b5;
$third-color: #578fca;
$button-primary-color: #fbf3b9;
$button-inactive-color: #bbbbbb80;
$text-primary-color: #213547;
$text-secondary-color: #00000099;
