$primary-color: #A1E3F9;
$secondary-color: #3674B5;
$third-color: #578FCA;
$button-primary-color: #FBF3B9;
$button-inactive-color: #BBBBBB80;
$text-primary-color: #333333;
$text-secondary-color: #00000099;